.button {
    -fx-border-style: none;
    -fx-background-color: transparent;
}

.controlButton {
    -fx-border-color: #999;
    -fx-border-style: solid;

    -fx-background-color: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
}

.controlButton:hover {
    -fx-border-color: #d8d8d8 #666 #666 #d8d8d8;
    -fx-border-radius: 1;
    /*-fx-background-color: #d8d8d8;*/
}

.controlButton:pressed {
    -fx-border-color: #666 #d8d8d8 #d8d8d8 #666;
}

.trashButton {
    -fx-background-image: url("trash.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px;
}

.header {
    -fx-border-style: solid;
    -fx-border-color: #999;
    -fx-border-width: 0 0 1 0;
}

.body {
    -fx-background-color: #fff;
}

.message {
    -fx-font-weight: bold;
}

.pathRow {
    -fx-background-color: #ffffff;
}

.pathRow:hover {
    -fx-background-color: #e0e8ff;
}

.alternateRow {
    -fx-background-color: #f3f3f3;
}

.paths {
    -fx-border-color: #999;
    -fx-border-style: solid;
}
