.button {
    -fx-border-color: #999;
    -fx-border-style: solid;

    -fx-background-color: #fff;
    -fx-background-radius: 0;
    -fx-background-insets: 1;
}

.button:hover {
    -fx-background-color: #d8d8d8;

    -fx-border-color: #666;
}
