<configuration>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss} %msg%n</pattern>
        </encoder>
        <file>${user.home}/.ergle/ergle.log</file>
        <append>false</append>
    </appender>

    <root level="WARN">
        <appender-ref ref="FILE"/>
    </root>

    <logger name="ergle" level="DEBUG"/>

</configuration>